* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
    background-image: url(images/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
    padding-top: 140px;
    font-size: 46px;
    margin-bottom: 30px;
    color: white;
}

p {
    margin-left: 20px;
    color: white;
}

input {
    outline: none;
    width: 300px;
    height: 44px;
    border-radius: 117px;
    border: 1px solid white;
    font-size: 14px;
    padding-left: 20px;
    background-color: transparent;
    margin-top: 40px;

}

::placeholder {
    font-size: 14px;
    color: white;
}

#logBtn {
    margin: 30px 0px 0px 0px;
    outline: none;
    border: 1px solid white;
    height: 44px;
    width: 300px;
    border-radius: 170px;
    background-color: transparent;
    /*background: linear-gradient(120deg, rgb(20, 104, 173), rgb(64, 161, 206) );*/
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: all .3s ease;
}

#logBtn:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(41, 144, 204);
}

#imgS {
    width: 21%;
    position: absolute;
    margin: 0 0 0 0;
    left: 80px;
    top: 30px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.548);
    transition: all .6s ease-in-out;
}

#imgS:hover {
    transform: scale(1.05);
}

#imgD {
    width: 21%;
    position: absolute;
    margin: 0 0 0 0;
    right: 80px;
    top: 180px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.548);
    transition: all .6s ease-in-out;
}

#imgD:hover {
    transform: scale(1.05);
}

#imgLogo {
    width: 10%;
    
    position: fixed;
    top: 20px;
    right: 40px;
}

#dsBtn {
    position: absolute;
    right: 77px;
    top: 650px;
    outline: none;
    border: 1px solid white;
    height: 44px;
    width: 405px;
    border-radius: 170px;
    background-color: transparent;
    /*background: linear-gradient(120deg, rgb(20, 104, 173), rgb(64, 161, 206) );*/
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: all .3s ease;
}

#dsBtn:hover {
    cursor: pointer;
    background-color: #5865F2;
    border: 1px solid #5865F2;
    color: white;
}